.banner{
    color:red;
    font-size: 2em;
    text-align: center;
    /* margin-left: 33%; */
}

form{
    /* text-align: center;    */
    margin-left: 20px;
    border: 1px solid gray;
    border-radius: 5px;
}
